<!DOCTYPE html>
<html>

<head>
    <title>Table search on DB</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <h1>Make search on DB FIXME</h1>
    <table border="1">

        <tr>
            <th>Number</th>
            <th>Date query</th>
            <th>Find query</th>
            <th>Email</th>
            <th>Related link</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <form method="POST" th:object="${internetos}" >

                <td>
                    <input type="text" th:field="*{searchQuery}" id="query" placeholder="Query"/>
                  
                        
                </td>
                  <td>
                    <input type="text" th:field="*{findedEmail}" id="findedEmail" placeholder="findedEmail"/>
                    
                </td>
                <td>
                    
                    <input type="submit" value="Search!">
                </td>

            </form>
        </tr>
        <tr th:each="emails: ${emailsubjects}">
            <td th:text="${emails.id}" />
            <td th:text="${emails.dateQuery}" />
            <td th:text="${emails.searchQuery}" />
            <td th:text="${emails.findedEmail}" />
            <td th:text="${emails.findedLink}" />
        </tr>
    </table>
   
</body>

</html>