<!DOCTYPE html>
<html>

<head>
    <title>Search on intenet and local file</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <script type="text/javascript" th:src="@{/autoloadform.js}"></script>
    <script type="text/javascript" th:src="@{/autourl.js}"></script>
    <script type="text/javascript" th:src="@{/autoemail.js}"></script>
</head>

<body>
    <p>See also: search on <a th:href="@{/db}" id="db">db.</a></p>
    <h1>Search emails for query into google and/or local file.</h1>
    <ul>
        <li>For looking emails from google enter query and click "Search!".</li>
        <li>For looking emails to other search engine save html file with answer search engine to local filesystem,
            choose this file, enter query and click "Search!".
        </li>
    </ul>
    <p>
    <form method="POST" enctype="multipart/form-data" th:object="${internetos}" name="searchIntoInternet">

        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Form not be posted, check errors
            </span>
        </div>
        <p>
            <input type="text" id="query" th:field="*{query}" placeholder="Query"  />
            <span class="validationError" th:if="${#fields.hasErrors('query')}" th:errors="*{query}">Too
                short</span>
            <input type="file" id="file" th:field="*{file}" placeholder="File" />
            <input type="checkbox" id="todb" th:field="*{todb}" placeholder="todb" name="todb" />
            <label for="todb">Check this if you need add rearch result to db.</label>
            <input type="submit" value="Search!">
        </p>


    </form>
    </p>

    <table id="inet">

        <tr>
            <th>Date</th>
            <th>Find query</th>
            <th>Email</th>
            <th>Related link</th>
        </tr>
        <tr>


        </tr>
        <tr th:each="emails: ${emailsubjects}">
            <td th:text="${emails.dateQuery}" />
            <td th:text="${emails.query}" id="findedQuery"/>
            <td th:text="${emails.email}" id="email"onmouseover="autoemail(this)"/>
            <td th:text="${emails.url}" id="url" onmouseover="autourl(this)"/>
        </tr>
    </table>

</body>

</html>