<!DOCTYPE html>
<html>

<head>
    <title>Table search on intenet</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <h1>Make search on internet FIXME</h1>
    <table border="1">

        <tr>

            <th>Find query</th>
            <th>Email</th>
            <th>Related link</th>
        </tr>
        <tr>

            <form method="POST" th:object="${internet}" >

                <div th:if="${#fields.hasErrors()}">
                    <span class="validationError">
                        Form not be posted, check errors
                    </span>
                </div>
                <td>
                    <input type="text" th:field="*{searchQuery}" id="query" placeholder="Query"/>
                    <span class="validationError" th:if="${#fields.hasErrors('searchQuery')}"
                        th:errors="*{searchQuery}"> Too short</span>
                        
                </td>
                <td>
                    <input type="text" th:field="*{adressObject}" id="adr" placeholder="Адрес"/>
                    <span class="validationError" th:if="${#fields.hasErrors('adressObject')}"
                        th:errors="*{adressObject}">Слишком коротко</span>
                </td>
                <td>
                    <input type="text" th:field="*{commentAboutObject}" id="comment" placeholder="Комментарий"/>
                    <input type="submit" value="добавить объект">
                </td>

            </form>
        </tr>
        <tr th:each="emails: ${emailsubjects}">

            <td th:text="${emails.searchQuery}" />
            <td th:text="${emails.findedEmail}" />
            <td th:text="${emails.findedLink}" />
        </tr>
    </table>
  
</body>

</html>